/* body{
    background-color: black;
    color: white;
} */
        #first, #second, #footer_email{
            padding: 45px;
            cursor: pointer;

        }
        #first>a{
            text-decoration: none;
        }
        #second{
            cursor: pointer;
        }
      
        #footer2{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            gap: 5%;

        }
       #footer1{
           background-color: black;
           display: grid;
           grid-template-columns:1fr 1fr 1fr;
           border-bottom: solid 1px;
           justify-content: space-around;
       }
       #footer1>div{
           width: 100%;
           justify-content: center;
           text-align:start;
       }
       #footer p{
           color: white;
           padding: 0;
           margin: 5px;
       }
       #footer h4{
           color: white;
           padding: 0;
           margin: 5px;
           padding-bottom:10px;
       }
     #first1>p{
         color:#cecece;
     }
     #second1>p{
         color:#cecece;
         text-align:start;
         cursor: pointer;
     }
     #third1>p{
         color:#cecece;
         text-align:start;
         cursor: pointer;
     }
     .footer_email{
         display:flex;
         flex-direction:column;
         color:white;
     }
     .footer_email>input {
         background-color:black;
         border:1px solid white;
         color:white;
         width:60%;
         height:40px;
         margin-bottom:20px;
     }
     .footer_email>input::placeholder {
         color:white;
         
     }
    .footer_email>button{
        background-color:black;
         border:1px solid white;
         color:white;
         height: 40px;
         width:100px;
    }
    .footer_email>h3{
        text-align:start;
    }
    .footer_selec{
        background-color: black;
        color:white;
        border:2px solid white;
        width: 80%;
        padding:10px 20px;
        font-size:15px;
        cursor: pointer;
    }
    .socials{
        width:60%;
        font-size:30px;
        display: flex;
        justify-content:space-between;
    }
    .socials>a{
        color:white;
    }
    @media  screen and (max-width:900px){
        #footer1{
            /* align-items: center;
            justify-content:center; */
        }
        .footer_email{
            padding-left: 50px;
        }
        .footer_email>input{
            width: 100%;
        }
        #footer2{
            
            flex-direction: column;
            text-align: center;
        }
        #first1{
            margin-right: 0;
        }
    }